#autocomplete{
	
	margin-right:50vw;
	;
}
.container{
	/* background-color: silver; */
	width: 800px;
	height: 500px;
	margin-left: 400px;
	border-style: double;
}
.addFavorite{
	display: flex;
	justify-content: flex-end;
	background-color: red;
	border-style: double;	
}
.days{
  display: inline-block;
  margin-top: 100px;
  border:solid;
  margin-top:1%;
  margin-right:1%;
  margin-bottom:1%;
  margin-left:1%;
}
.icon{
	width: 20vh;
	margin-left: 5px;
	color: red;
	

}